* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: calc(100% - 4rem);
}
.footer {
  height: 4rem;
  background-color: #e2e2e2;
}

#header {
  background-image: url(https://tofuu.getjusto.com/orioneat-prod/Kv2jWbR4R833CLNPv-_MG_0201.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  border: 5px solid darkblue;
  padding: 20px;
}

#logo {
  width: 200px;
  height: 200px;
  background-image: url(https://i.pinimg.com/originals/c0/dd/6f/c0dd6f41d99555a95b83c510ec6dd3d2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: purple;
  border-radius: 10px;
}

.color {
  color: lightslategray;
  text-align: right;
  font-size: 2cm;
}

#tabla-precios {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}
.precio-col {
  display: inline-block;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px #ddd;
}

.precio-col-header {
  background-color: #333;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.precio-col:nth-child(2) .precio-col-header {
  background-color: #dd9933;
}
.precio-col:nth-child(4) .precio-col-header {
  background-color: #dd9933;
}
.precio-col:nth-child(6) .precio-col-header {
  background-color: #dd9933;
}

.precio-col-header h3 {
  color: #f3f3f3;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.precio-col-header p {
  text-align: center;
  color: #f3f3f3;
  font-size: 14px;
  margin-bottom: 0;
}
.precio-col-features p {
  padding: 0 20px 20px 20px;
}

.precio-col-features p {
  padding: 20px 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

.precio-col-features p:first-child,
#tabla-promo {
  display: inline-table;
  width: 100%;
  margin-top: 50px;
}

.promo-col {
  display: inline-table;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px #ddd;
}

.promo-col-header {
  background-color: #333;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.promo-col-header h3 {
  color: #f3f3f3;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.promo-col-header p {
  text-align: center;
  color: #f3f3f3;
  font-size: 14px;
  margin-bottom: 0;
}

#asideizq {
  float: left;
  margin-right: 250px;
  width: 15%;
  height: 1200px;
  background: #333;
}

#asideder {
  float: right;
  width: 15%;
  height: 1200px;
  background: #333;
}

.promo-col-header h3 {
  color: #f3f3f3;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.promo-col-header p {
  text-align: center;
  color: #f3f3f3;
  font-size: 14px;
  margin-bottom: 0;
}

#asideizq {
  float: left;
  width: 15%;
  background: #333;
}

#asideder {
  float: right;
  width: 15%;
  background: #333;
}
